body {
  background-image: url(/image/pexels-luis-leon-2470415.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  background: white;
  margin-top: 50px;
  height: 550px;
  width: 800px;
  border: 7px solid rgba(255, 255, 255, 0.3);
}
.container h3 {
  text-align: center;
  color: #3377c0;
  position: relative;
  top: 50px;
  margin-bottom: 32px;
  font-family: "Poppins-semibold", sans-serif;
  font-weight: 600;
  font-size: 35px;
  letter-spacing: 3px;
}
.container .flex-form {
  display: flex;
  margin: 5px;
  padding: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.container .flex-form .flex-container1,
.container .flex-form .flex-container2 {
  margin: 20px;
}
.container .flex-form input {
  height: 40px;
  width: 300px;
  margin-bottom: 22px;
  border: 1px solid #acabab 0.5;
}
.container .flex-form label {
  margin-bottom: 8px;
}
.container .flex-form .icon {
  position: relative;
  left: 17px;
  top: 30px;
  font-size: 14px;
  opacity: 0.4;
}
.container footer {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  bottom: 40px;
  font-family: "Poppins", sans-serif;
}
.container footer p {
  margin-left: -125px;
  opacity: 0.5;
}
.container footer button {
  color: white;
  background-color: #3377c0;
  width: 110px;
  height: 42px;
  border: 1px solid #3377c0;
  margin-right: -145px;
  font-size: 14px;
}

.container2 {
  display: none;
  background: white;
  margin-top: 50px;
  height: 550px;
  width: 800px;
  border: 7px solid rgba(255, 255, 255, 0.3);
}
.container2 h3 {
  text-align: center;
  color: #3377c0;
  position: relative;
  top: 50px;
  margin-bottom: 32px;
  font-family: "Poppins-semibold", sans-serif;
  font-weight: 600;
  font-size: 35px;
  letter-spacing: 3px;
}
.container2 .flex-form {
  display: flex;
  margin: 5px;
  padding: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.container2 .flex-form .flex-container1,
.container2 .flex-form .flex-container2 {
  margin: 20px;
}
.container2 .flex-form input {
  height: 40px;
  width: 300px;
  margin-bottom: 22px;
  border: 1px solid #acabab 0.5;
}
.container2 .flex-form label {
  margin-bottom: 8px;
}
.container2 .flex-form .icon {
  position: relative;
  left: 17px;
  top: 30px;
  font-size: 14px;
  opacity: 0.4;
}
.container2 footer {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  bottom: 40px;
  font-family: "Poppins", sans-serif;
}
.container2 footer p {
  margin-left: -125px;
  opacity: 0.5;
}
.container2 footer button {
  color: white;
  background-color: #3377c0;
  width: 110px;
  height: 42px;
  border: 1px solid #3377c0;
  margin-right: -145px;
  font-size: 14px;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}
.input-icons .icon {
  padding: 10px;
  color: green;
  min-width: 50px;
  text-align: center;
}
.input-icons .input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}
.input-icons .input-icons i {
  position: absolute;
}/*# sourceMappingURL=style.css.map */